    html
    {
        font-size:100%;
        color: white;
    }

    .skillset li:hover
    {
        background:rgb(240, 133, 204);
    }
    .skillset2 li:hover
    {
        background:rgb(240, 133, 204);
    }
    .skillset3 li:hover
    {
        background:rgb(240, 133, 204);
    }
    
    h1
    {
        color:white;
        text-shadow:
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa
    }
        
    .right
    {
        float:center;
        height:100%;
        position:relative;
    }
    
    .inner
    {
        margin:0 auto;
        max-width:975px;
        padding:3em;
    }
    
    .inner h1
    {
        font-size:1.75em;
    }
    
    .inner p
    {
        color:white;
    }
    
    .inner p em
    {
        color: white;
        font-style:normal;
    }
    
    .inner section
    {
        margin:100px auto;
    }
    
    ul
    {
        list-style-type:none;
        margin-top:-10px;
        max-width:570px;
        padding:0;
    }
    
    .skillset li
    {
        background:rgba(0,0,0,.75);
        border-radius:5px;
        color:#FFF;
        display:inline-block;
        list-style:none;
        margin:15px 15px 0 0;
        padding:10px;
        text-align:justify;
    }

    .skillset2 li
    {
        background:rgba(58, 58, 58, 0.75);
        border-radius:5px;
        color:#FFF;
        display:inline-block;
        list-style:none;
        margin:15px 15px 0 0;
        padding:10px;
        text-align:justify;
    }
    
    .skillset3 li
    {
        background:rgba(102, 102, 102, 0.75);
        border-radius:5px;
        color:#FFF;
        display:inline-block;
        list-style:none;
        margin:15px 15px 0 0;
        padding:10px;
        text-align:justify;
    }

    .desc {
        font-size: medium;
        padding: 20px;
        line-height: 150%;
        padding-bottom: 40px;
    }

    blockquote {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
